1 zmyka/the_snake-main/.gitignore
1 zmyka/the_snake-main/# game_1.ini
1 zmyka/the_snake-main/pytest.ini
1 zmyka/the_snake-main/README.md
1 zmyka/the_snake-main/requirements.txt
1 zmyka/the_snake-main/setup.cfg
1 zmyka/the_snake-main/the_snake.py
1 zmyka/the_snake-main/tests/#Вызов библиотек.py
1 zmyka/the_snake-main/tests/conftest.py
1 zmyka/the_snake-main/tests/test_code_structure.py
1 zmyka/the_snake-main/tests/test_main.py
Яндекс Практикум_files/app-config.js
Яндекс Практикум_files/chat.js
Яндекс Практикум_files/code.js
Яндекс Практикум_files/common-flow.js
Яндекс Практикум_files/compatibility.js
Яндекс Практикум_files/cpa-config.js
Яндекс Практикум_files/druk-text-wide-cyr-heavy.css
Яндекс Практикум_files/dyn-goal-config.js
Яндекс Практикум_files/faq.js
Яндекс Практикум_files/fast-track.js
Яндекс Практикум_files/features-features-base.production.default.ru.js
Яндекс Практикум_files/glossary.ru.js
Яндекс Практикум_files/image_1702376899.png
Яндекс Практикум_files/image_1702376912.png
Яндекс Практикум_files/image_1702376919.png
Яндекс Практикум_files/islands-middle
Яндекс Практикум_files/lang-static.js
Яндекс Практикум_files/linter-configs.js
Яндекс Практикум_files/loader.min.js
Яндекс Практикум_files/messages.default.proficiency.ru.js
Яндекс Практикум_files/openapi.js
Яндекс Практикум_files/pageView.html
Яндекс Практикум_files/poll-welcome.build.css
Яндекс Практикум_files/prof-quiz.js
Яндекс Практикум_files/prof-window.js
Яндекс Практикум_files/proficiency.build.css
Яндекс Практикум_files/proficiency.build.js
Яндекс Практикум_files/react-with-dom.min.js
Яндекс Практикум_files/referral-modal-v2.build.css
Яндекс Практикум_files/referral.2x.png
Яндекс Практикум_files/retargeting_hit.html
Яндекс Практикум_files/spectral.css
Яндекс Практикум_files/subscription-select.build.css
Яндекс Практикум_files/suisse.css
Яндекс Практикум_files/support-chat.build.css
Яндекс Практикум_files/sync-loader.js
Яндекс Практикум_files/tag.js
Яндекс Практикум_files/test-tools-configs.js
Яндекс Практикум_files/vendor.build.css
Яндекс Практикум_files/vendor.js
Яндекс Практикум_files/wizard.js
Яндекс Практикум_files/ys.css
first_project.py
